.modal {
    min-width: 300px;
    min-height: 300px;

    .body {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-medium);
    }

    .chart-type-input {
        margin-bottom: var(--spacing-large);
    }
}
