.modal {
    max-width: 640px;
    height: calc(100vh - 2 * var(--spacing-medium));
    max-height: 700px;

    .body {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-large);

        .chart-type-input {
            flex-shrink: 0;
            margin-bottom: var(--spacing-large);
        }

        .chart-config {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
