.stat-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    .value {
        font-size: var(--font-size-ultra-large);
        font-weight: var(--bold);
    }

    .label {
        font-size: var(--font-size-large);
    }
}

