.program-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .header {
        display: flex;
        align-items: baseline;
        flex-shrink: 0;

        .back-button {
            flex-shrink: 0;
            font-size: var(--font-size-large);
        }

        .heading {
            flex-grow: 1;
            padding: var(--spacing-medium);
        }

        .actions {
            flex-shrink: 0;
        }
    }

    .content {
        flex-grow: 1;
        overflow: auto;
    }
}
