.switch {
    --gap: .12em;
    --height: 1em;

    display: flex;
    align-items: center;
    transition: .2s background-color ease-in-out;
    border: var(--width-separator-thin) solid var(--color-separator-light);
    border-radius: calc(var(--height) / 2);
    background-color: var(--color-text-disabled);
    padding: var(--gap);
    width: calc(var(--height) * 2 - 2 * var(--gap));
    height: var(--height);

    .knob {
        --knob-height: calc(var(--height) - var(--gap) * 2);
        transition: .2s transform ease-in-out, .2s background-color ease-in-out;
        border: var(--width-separator-thin) solid var(--color-separator-light);
        border-radius: calc(var(--knob-height) / 2);
        background-color: var(--color-accent);
        background-color: var(--color-foreground);
        width: var(--knob-height);
        height: var(--knob-height);
    }

    &.on {
        background-color: var(--color-accent);

        &.disabled {
            background-color: var(--color-text-disabled);
        }

        .knob {
            transform: translateX(calc(100% - var(--gap)));
        }
    }
}

.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

    &:disabled {
        color: var(--color-text-disabled);
    }

    .switch {
        margin: 0 var(--spacing-small);
        font-size: 1.2rem
    }

    .label {
        padding: 0 var(--spacing-small);
    }
}
