.text-output {
    display: flex;

    &.multiline {
        flex-direction: column;
    }

    .label {
        padding: 0 var(--spacing-small);
        font-size: var(--font-size-small);
    }

    .value {
        padding: 0 var(--spacing-small);
    }

    .null-value {
        padding: 0 var(--spacing-small);
        color: var(--color-text-disabled);
        font-size: var(--font-size-small);
    }

    &.no-padding {
        .label {
            padding: 0;
        }
    }
}
