.text-output {
    display: table-row;

    .label {
        display: table-cell;
        padding: 0 var(--spacing-small);
        font-size: var(--font-size-small);
    }

    .value {
        display: table-cell;
        padding: 0 var(--spacing-small);
    }

    .null-value {
        display: table-cell;
        padding: 0 var(--spacing-small);
        color: rgba(0, 0, 0, .4);
        font-size: var(--font-size-small);
    }
}
