.chart-container {
    .responsive-container {
        width: 100%;

        .chart {
            :global {
                .recharts-cartesian-axis-ticks {
                    text {
                        font-size: var(--font-size-extra-small);
                    }
                }

                .recharts-legend-wrapper {
                    .recharts-surface {
                        margin-right: var(--spacing-small)!important;
                    }

                    .recharts-legend-item-text {
                        vertical-align: middle;
                        color: var(--color-text-label);
                        font-family: inherit;
                        font-size: var(--font-size-small);
                        font-weight: var(--font-weight-bold);
                    }
                }
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 calc(var(--spacing-large) - var(--spacing-small));
        min-height: 60px;
        overflow-y: auto;

        .heading {
            flex-grow: 1;
            padding: var(--spacing-small);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: var(--spacing-small) calc(var(--spacing-small) - var(--spacing-extra-small));
            
            .delete-icon {
                display: none;
                color: var(--color-text);
                font-size: var(--font-size-large-medium);
            }

            .expand-icon {
                display: none;
                color: var(--color-text);
                font-size: var(--font-size-large);
            }

            .segment-input {
                margin: var(--spacing-extra-small);
            }
        }
    }

    &:hover {
        .header {
            .actions {
                .delete-icon {
                    display: initial;
                }
    
                .expand-icon {
                    display: initial;
                }
            }
        }
    }
}

.custom-tooltip {
    background-color: var(--color-foreground);
    padding: var(--spacing-large-medium) var(--spacing-large);
    border: var(--spacing-extra-small) solid var(--color-grey-shade-2);

    .label {
        margin-bottom: var(--spacing-small);
    }
}