.input-container {
    width: 100%;
    --padding-internal-h: var(--spacing-small);

    .main {
        display: flex;
        background-color: var(--color-input-background);
        padding: var(--spacing-medium) calc(var(--spacing-medium) - var(--padding-internal-h));

        &.disabled {
            background-color: var(--color-input-background-disabled);
        }

        &.errored {
            background-color: var(--color-input-background-errored);
        }

        .icons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--padding-internal-h);
            color: var(--color-input-actions);
        }

        .input {
            flex-grow: 1;
            padding: 0 var(--padding-internal-h);
        }

        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--padding-internal-h);
        }
    }

    &:focus-within {
        .label {
            color: var(--color-accent);
        }
    }
}
