.input-container {
    border-bottom: var(--width-separator-thin) solid transparent;

    .main {
        display: flex;
        background-color: var(--color-background);
        padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-extra-small));

        .icons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-extra-small);
        }

        .input {
            flex-grow: 1;
            padding: 0 var(--spacing-extra-small);
        }

        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-extra-small);
        }
    }

    &:focus-within {
        border-bottom-color: var(--color-accent);

        .label {
            color: var(--color-accent);
        }
    }
}
