.input-container {
    border-bottom: var(--width-separator-thin) solid transparent;

    .main {
        display: flex;
        border-radius: 4px;
        /* background-color: var(--color-background); */
        background-color: #e5eaf0;

        &.disabled {
            background-color: #e5eaf0;
        }

        &.errored {
            background-color: #f1e1e3;
        }

        padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-extra-small));

        .icons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-extra-small);

            color: #e5eaf0;
        }

        .input {
            flex-grow: 1;
            padding: 0 var(--spacing-extra-small);
        }

        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-extra-small);
        }
    }

    &:focus-within {
        border-bottom-color: var(--color-accent);

        .label {
            color: var(--color-accent);
        }
    }
}
