.indicators {
    display: flex;
    position: relative;
    background: var(--color-primary-light-4);
    padding: var(--spacing-medium);

    .backdrop {
        z-index: 1;
    }

    .region-details {
        display: flex;
        flex-wrap: wrap;
        padding: 0 var(--spacing-small);
        width: 100%;

        .number-output {
            margin: var(--spacing-extra-small);
            width: calc(100% / 3 - var(--spacing-extra-small) * 2);
        }
    }

    .button {
        display: flex;
        width: 36px;
        height: 36px;

        .hide-icon {
            opacity: 0;
            color: var(--color-text);
            font-size: var(--font-size-large-medium);
        }
    }

    .hidden {
        display: none;
    }

    &:hover {
        .hide-icon {
            opacity: 1;
        }
    }
}
