.summary {
    position: relative;
    box-shadow: 0 2px 5px -3px rgba(0, 0, 0, .3);
    background-color: var(--color-foreground);
    padding: var(--spacing-small-medium);

    &.hide-container {
        display: none;
    }

    .summary-item {
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        padding: var(--spacing-small-medium) calc(var(--spacing-medium) - var(--spacing-small));
        font-size: var(--font-size-caption);
    }
}
