.number-output {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--spacing-medium) calc(var(--spacing-medium) - var(--spacing-extra-small));

    .value {
        padding: 0 var(--spacing-extra-small);
        font-size: var(--font-size-extra-large);
        font-weight: var(--font-weight-bold);
    }

    .label {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0 var(--spacing-extra-small);
        text-transform: uppercase;
        letter-spacing: calc(var(--font-size-small-medium) / 10);
        color: var(--color-accent-light);
        font-size: var(--font-size-small-medium);

        .icon {
            flex-shrink: 0;
            opacity: 0;
        }
    }

    &:hover {
        .label {
            .icon {
                opacity: 1;
                background: var(--color-secondary-light-2);
                cursor: pointer;
                color: var(--color-accent-light);
            }
        }
    }
}
