.table-actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--spacing-large) var(--spacing-medium);

    .add-chart-button {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: var(--width-separator-medium) solid var(--color-text-red);
        border-radius: 0;
        background: transparent;

        .icon {
            color: var(--color-text-red);
            font-size: var(--font-size-large);
        }
        
        .text {
            color: var(--color-text-red);
            font-size: var(--font-size-medium);
        }
    }

    >* {
        &:not(:last-child) {
            margin-right: var(--spacing-medium);
        }
    }
}

.charts {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: var(--width-separator-thin) solid var(--color-separator-light);
    overflow-y: auto;

    .chart {
        padding: var(--spacing-large) var(--spacing-medium);
        width: 360px;
        height: 400px;
    }

    .backdrop {
        z-index: 1;
    }
}
