.table-actions {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: var(--spacing-small) var(--spacing-medium);

    >* {
        &:not(:last-child) {
            margin-right: var(--spacing-medium);
        }
    }
}

.charts {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: var(--spacing-small) var(--spacing-medium);
    overflow-y: auto;

    .chart {
        padding: var(--spacing-medium);
    }
}
