.tree-input {
    display: flex;
    flex-direction: column;

    .label-container {
        display: flex;
        align-items: center;

        .label {
            flex-grow: 1;
        }

        .button {
            display: flex;
            flex-shrink: 0;
        }
    }
}
