.button {
    font-family: inherit;

    /*
    &.transparent {
        &.default {
        }
        &.accent {
        }
        &.danger {
        }
        &.primary {
        }
        &.success {
        }
        &.warning {
        }
    }
    */
    &::-moz-focus-inner {
        border:0;
    }

    &:focus {
        outline: none;
    }

    &:not(.transparent) {
        border-radius: 4px;
        padding: 6px 8px;

        &:disabled {
            border: 1px solid snow;
            background-color: snow;
            color: lightgray;
        }

        &:not(:disabled) {
            cursor: pointer;

            /*
            transition-delay: 0s;
            transition-duration: 0.1s;
            transition-property: transform;
            */

            /*
            &:hover {
                filter: brightness(70%)
            }
            */

            &:active {
                transform: translateY(1px);
            }

            &.default {
                border: 1px solid darkgray;
                background-color: snow;
                color: gray;
            }
            &.accent {
                border: 1px solid darkcyan;
                background-color: darkcyan;
                color: white;
            }
            &.danger {
                border: 1px solid firebrick;
                background-color: firebrick;
                color: white;
            }
            &.primary {
                border: 1px solid slateblue;
                background-color: slateblue;
                color: white;
            }
            &.success {
                border: 1px solid forestgreen;
                background-color: forestgreen;
                color: white;
            }
            &.warning {
                border: 1px solid tomato;
                background-color: tomato;
                color: white;
            }
        }
    }
}
