.button {
    --background-color: var(--color-secondary);
    --color: var(--white);
    --border-color: var(--color-secondary);
    --hover-color: var(--color);
    --hover-background-color: var(--color-secondary-light-1);
    --active-color: var(--color);
    --active-background-color: var(--color-secondary-dark-1);

    --padding-internal-h: var(--spacing-small);

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    border: var(--width-separator-thin) solid var(--border-color);
    background-color: var(--background-color);
    cursor: pointer;
    padding: var(--spacing-small) calc(var(--spacing-medium) - var(--padding-internal-h));
    overflow: hidden;
    color: var(--color);
    font-family: inherit;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-bold);

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: var(--hover-background-color);
        color: var(--hover-color);
    }

    &:focus {
        outline: none;
    }

    &:active {
        background-color: var(--active-background-color);
        color: var(--active-color);
    }

    &.secondary-outline {
        --background-color: transparent; 
        --color: var(--color-secondary);

        &:hover {
            --hover-color: var(--color-secondary);
            --hover-background-color: var(--color-secondary-light-2);
        }

        &:active {
            --active-color: var(--color-secondary);
            --active-background-color: var(--color-secondary-light-2);
        }
    }

    &.outline {
        --background-color: transparent; 
        --color: var(--color-text);
        --border-color: var(--color-separator);

        &:hover {
            --hover-color: var(--color-text);
            --hover-background-color: var(--color-secondary-light-2);
        }

        &:active {
            --active-color: var(--color-text);
            --active-background-color: var(--color-secondary-light-2);
        }
    }

    &.transparent {
        --background-color: transparent; 
        --border-color: transparent;
        --color: var(--color-secondary);

        &:hover {
            --hover-color: var(--color-secondary);
            --hover-background-color: var(--color-secondary-light-2);
        }

        &:active {
            --active-color: var(--color-secondary);
            --active-background-color: var(--color-secondary-light-2);
        }
    }

    &:disabled {
        --background-color: var(--color-background-disabled);
        --color: var(--color-text-disabled);
        opacity: var(--opacity-disabled);
        cursor: not-allowed;
        pointer-events: none;
        filter: saturate(0);
    }

    .icons {
        display: flex;
        align-items: center;
        padding: 0 var(--padding-internal-h);
    }

    .actions {
        display: flex;
        align-items: center;
        padding: 0 var(--padding-internal-h);
    }

    .children {
        padding: 0 var(--padding-internal-h);
    }

    .loading-backdrop {
        color: var(--color-text);
    }
}
