.container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);

    &.calendar-container {
        min-height: 142px;
    }

    .calendars {
        display: flex;
        justify-content: space-between;

        .dateContainer {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .label {
                margin-right: var(--spacing-small-medium);
            }

            .dateInput {
                margin-right: var(--spacing-small-medium);
                background: var(--color-grey-shade-3);
                padding: var(--spacing-small);
            }
        }

        .clear-button {
            align-self: center;
        }
    }

    .slider {
        display: flex;
        flex: 1;

        .row {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-around;

            &.no-date-range {
                margin-top: var(--spacing-medium);
            }

            .icon {
                margin-right: var(--spacing-medium);
                font-size: var(--font-size-extra-large);

                &.rotate {
                    transform: rotate(90deg);
                    padding: 0 0 var(--spacing-small) 0;
                    font-size: calc(2 * var(--font-size-medium));
                }
            }

            .range {
                min-width: 94%;
            }
        }

    }

}

