.map-selector-container {
    padding: 0 var(--spacing-medium);

    .input-item {
        margin: var(--spacing-medium) 0;
        border-radius: 0;
    }

    .segment-input-item {
        margin: var(--spacing-medium) 0;
        width: calc(var(--spacing-large) + var(--spacing-medium));
    }
    .separator {
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
    }

    .indicator-info {
        display: flex;
        flex-direction: column;

        .abstract {
            padding: 0 var(-spacing-extra-small) 0 0;
            text-align: justify;
            font-size: var(--font-size-body-2);
        }

        .url {
            align-self: flex-end;
            text-decoration: none;
            font-size: var(--font-size-body-2);
        }

        .title-value {
            margin: var(--spacing-medium) 0;
            align-items: center;

            .title {
                margin-right: var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }

            .value {
                font-size: var(--font-size-body-2);
            }
        }

        .flex {
            display: flex;
        }
    }
}
