.container {
    --bold: var(--font-weight-bold);

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: var(--spacing-medium);
    width: 100%;

    .first-section {
        padding: calc(6 * var(--spacing-medium)) var(--spacing-medium);

        .title {
            margin-bottom: calc(2 * var(--spacing-medium));
            text-align: center;
            color: var(--color-grey-shade-7);
            font-size: calc(var(--font-size-extra-large) + var(--font-size-large));
            font-weight: var(--bold);
        }
    
        .sub-title {
            text-align: center;
            color: var(--color-grey-shade-7);
            font-size: var(--font-size-large);
        } 
    }

    .tc-section {
        padding: calc(4 * var(--spacing-extra-large)) calc(4 * var(--spacing-ultra-large));

        .tc-container {
            display: flex;
            justify-content: center;

            .left-section {
                display: flex;
                position: sticky;
                top: 0;
                flex-direction: column;
                width: 30%;
                height: 150px;
            }
    
            .right-section {
                width: 60%;
            }
        }

        .coming-soon {
            font-size: var(--font-size-large);
        }
    }
}
