.number-output {
    padding: var(--spacing-medium) calc(var(--spacing-medium) - var(--spacing-extra-small));

    .value {
        padding: 0 var(--spacing-extra-small);
        color: var(--color-text-label);
        font-size: var(--font-size-extra-large);
    }

    .label {
        padding: 0 var(--spacing-extra-small);
        color: var(--color-text);
        font-size: var(--font-size-extra-small);
    }
}

.infographics {
    --width-infographics-content: 210mm;
    --min-height-infographics-content: 297mm;
    display: flex;

    .sidebar {
        flex-shrink: 0;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: 320px;

        .region-selector {
            display: flex;
            flex-direction: column;
            margin: var(--spacing-medium);
            padding: 0;

            >* {
                padding: 0;
            }
        }

        .print-mode-button {
            margin: var(--spacing-medium);
        }

        .add-chart-button {
            margin: var(--spacing-medium);
        }
    }

    .content {
        flex-grow: 1;
        overflow: auto;

        .infographics-content {
            margin: 0 auto;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            box-shadow: 0 0 5px -3px rgba(0, 0, 0, .3);
            background-color: var(--color-foreground);
            padding: var(--spacing-large);
            width: var(--width-infographics-content);
            min-height: var(--min-height-infographics-content);

            .header-row {
                display: flex;

                .basic-info {
                    flex-grow: 1;
                    padding: var(--spacing-medium) calc(var(--spacing-medum) - var(--spacing-small));

                    .region-name {
                        padding: 0 var(--spacing-small);
                        color: var(--color-primary);
                        font-size: var(--font-size-super-large);
                        font-weight: var(--font-weight-bold);
                    }

                    .parent-region-details {
                        padding: 0 var(--spacing-small);
                        font-size: var(--font-size-large);
                    }

                    .date {
                        padding: 0 var(--spacing-small);
                        font-size: var(--font-size-small);
                    }
                }

                .app-brand {
                    flex-shrink: 0;
                    padding: var(--spacing-small) 0;
                    font-size: var(--font-size-large);

                    .logo {
                        height: 68px;
                    }
                }
            }

            .first-details-row {
                display: flex;
                position: relative;

                .backdrop {
                    z-index: 1;
                }

                .region-details {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 var(--spacing-small);

                    .number-output {
                        margin: var(--spacing-extra-small);
                        width: calc(100% / 3 - var(--spacing-extra-small) * 2);
                    }
                }

                .map-container {
                    flex-basis: 50%;
                    flex-shrink: 0;
                }
            }
        }
    }

    &.print-mode {
        overflow: unset;

        .content {
            background-color: var(-color-foreground)!important;
            overflow: unset;

            .infographics-content {
                border: none;
                box-shadow: none;
            }
        }
    }

    .no-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        color: var(--color-text-disabled);
        font-size: var(--font-size-extra-large);
    }
}

@media print {
    .infographics {
        .sidebar {
            display: none;
        }
    }
}
