.summary {
    padding: 0;

    .covid-summary,
    .region-summary,
    .DFID-summary {
        padding: calc(var(--spacing-large) - var(--spacing-medium));

        .header {
            display: flex;
            align-items: center;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .heading {
                flex-grow: 1;
                padding: var(--spacing-small);
            }
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            .summary-output {
                flex-basis: calc(100% / 3);
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
        }

        .links {
            display: flex;

            .link {
                margin: var(--spacing-small);
            }
        }
    }
}
