.single-region-select {
    display: flex;
    padding: calc(var(--spacing-medium) - var(--spacing-small));

    .region-level-selection {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: var(--spacing-small);
    }

    .region-select-input {
        padding: var(--spacing-small);
    }
}
