.single-region-select {
    display: flex;
    align-items: center;

    .region-level-selection {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .region-select-input {
        padding: var(--spacing-small) var(--spacing-medium);
    }
}
