.tab {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    border-radius: calc(1em + 2 * var(--spacing-small));
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-medium);
    text-align: center;
    color: var(--color-text-label);

    &.disabled {
        pointer-events: none;
    }

    &.active {
        background-color: var(--color-foreground);
    }
}

.tab-list {
    display: flex;
    border: var(--width-separator-medium) solid var(--color-separator-dark);
    border-radius: calc(1em + 2 * var(--spacing-small));
    background: var(--color-grey-shade-3);
    width: 100%;
}
