.about-tabs {
    .tab-list {
        display: flex;

        >* {
            flex-grow: 1;
            padding: var(--spacing-medium);
        }

        .errored {
            color: var(--color-danger);
        }
    }

    .about {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
        width: 85%;
        overflow: auto;
    }

    .faq {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
        padding: var(--spacing-medium);
        width: 75%;
        overflow: auto;
    }

    .terms-and-conditions {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
        padding: var(--spacing-medium);
        overflow: auto;
    }

    .feedback {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
        padding: var(--spacing-medium);
        overflow: auto;
    }
}
