.region-details {
    position: relative;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-small);

    .region-profile-link {
        border: var(--width-separator-thin) solid var(--color-button-background);
        background-color: var(--color-foreground);
        padding: var(--spacing-extra-small) var(--spacing-large);
        text-decoration: none;
        color: var(--color-text);
        font-weight: var(--font-weight-bold);

        &:hover {
            filter: brightness(90%)
        }
    }

    .tab-actions {
        align-self: center;
        flex-shrink: 0;
        padding: 0 var(--spacing-medium);
    }
}

.header {
    justify-content: center;
}
