.region-details {
    position: relative;
    flex-grow: 1;
    padding: 0;
    overflow: auto;
}

.action-container {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .region-select {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-top: 1px solid var(--color-grey-shade-3);
        border-bottom: 1px solid var(--color-grey-shade-3);
        padding: var(--spacing-small-medium) 0;
        width: 100%;

        .label {
            margin-left: var(--spacing-medium);
        }
        &.hidden {
            display: none;
        }
    }

    .mid-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--color-grey-shade-2);
        padding: var(--spacing-medium);
        width: 100%;

        .region-profile-link {
            margin-right: var(--spacing-extra-large);
            border: var(--width-separator-thin) solid var(--color-button-background);
            background-color: var(--color-foreground);
            padding: var(--spacing-small-medium);
            text-decoration: none;
            color: var(--color-text);
            font-weight: var(--font-weight-bold);
    
            &:hover {
                filter: brightness(90%)
            }
        }

        .tab-actions {
            align-self: center;
            flex-shrink: 0;
        }
    }
}

.header {
    justify-content: center;
    padding: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}
