.tc-item {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(3 * var(--spacing-medium));

    .title {
        margin: var(--spacing-medium) 0px var(--spacing-large-medium) 0px;
        font-size: var(--font-size-large);
        font-weight: var(--bold);
    }

    .description {
        padding-bottom: calc(var(--spacing-small-medium) + var(--spacing-medium));
        font-size: var(--font-size-large);
    }
}
