.container {
    --bold: var(--font-weight-bold);

    display: flex;
    align-items: center;
    flex-direction: column;

    .first-section {
        padding: calc(6 * var(--spacing-medium)) var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);

        .title {
            margin-bottom: calc(2 * var(--spacing-medium));
            text-align: center;
            font-size: calc(var(--font-size-extra-large) + var(--font-size-large));
            font-weight: var(--bold);
        }
    
        .sub-title {
            text-align: center;
            font-size: var(--font-size-large);
        } 
    }

    .form-section {
        display: flex;
        align-items: center;
        flex-direction: column;

        .text-input {
            padding: var(--spacing-medium);
            width: 400px;
        }

        .text-area-input {
            padding: var(--spacing-medium);
            width: 400px;
            min-height: 70px;
        }

        .select-input {
            padding: var(--spacing-medium);
            width: 400px;
        }

        .label {
            margin-bottom: var(--spacing-small);
            font-size: var(--font-size-large-medium);
        }

        .input {
            height: 32px;
        }

        .button {
            margin-top: var(--spacing-large-medium);
            background: var(--color-accent);
            padding: var(--spacing-small-medium) var(--spacing-large);
            width: fit-content;
            color: var(--color-foreground);
        }
    }
}
