.container {
    --bold: var(--font-weight-bold);

    display: flex;
    align-items: center;
    flex-direction: column;

    .first-section {
        padding: calc(6 * var(--spacing-medium)) var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);

        .title {
            margin-bottom: calc(2 * var(--spacing-medium));
            text-align: center;
            font-size: calc(var(--font-size-extra-large) + var(--font-size-large));
            font-weight: var(--bold);
        }
    
        .sub-title {
            text-align: center;
            font-size: var(--font-size-large);
        } 
    }

    .form-section {
        display: flex;
        align-items: center;
        flex-direction: column;

        .text-input {
            padding: var(--spacing-medium);
            width: 400px;
            border: none;
        }

        .text-area-input {
            padding: var(--spacing-medium);
            width: 400px;
            min-height: 70px;
            border: none;
        }

        .select-input {
            padding: var(--spacing-medium);
            width: 400px;
        }

        .label {
            margin-bottom: var(--spacing-small);
            padding-left: 0;
            font-size: var(--font-size-large-medium);
        }

        .input {
            height: 32px;
        }

        .error {
            flex-grow: 1;
            color: var(--color-danger);
        }

        .attachment {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 400px;
            padding: var(--spacing-medium);

            .label {
                text-transform: uppercase;
                letter-spacing: 1.5px;
                color: var(--color-primary-light-2);
            }
        }

        .button {
            margin-top: var(--spacing-large-medium);
            background: var(--color-secondary-light-1);
            padding: var(--spacing-small-medium) var(--spacing-ultra-large);
            width: fit-content;
            color: var(--color-white);
        }
    }
}
