.option {
    cursor: pointer;
    padding: 0 var(--spacing-medium);
    font-weight: var(--font-weight-bold);

    &.disabled {
        color: var(--color-text-disabled);
    }

    &.active {
        color: var(--color-accent);
    }
}
