.option {
    background-color: var(--color-background);
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    font-size: var(--font-size-small-medium);

    &.disabled {
        color: var(--color-text-disabled);
    }

    &.active {
        background-color: var(--color-background-accent-hint);
        color: var(--color-text);
    }

    &:not(.active) {
        &:hover {
            background-color: var(--color-background-hover);
        }
    }
}
