.sidepanel {
    display: block;
    position: relative;
    transition: .2s margin-right ease-in-out;
    border-left: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);

    &.hidden {
        margin-right: calc(-1 * var(--width-sidepanel));
    }

    .toggle-visibility-button {
        position: absolute;
        top: 150px;
        left: 0;
        transform: translateX(-100%);
        border: var(--width-separator-thin) solid var(--color-separator);
        border-right: 0;
        border-radius: var(--radius-modal) 0 0 var(--radius-modal);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium) var(--spacing-extra-small);
        font-size: var(--font-size-large);
    }

    .summary {
        padding: var(--spacing-medium);
        height: 100%;
        overflow-y: auto;

        .covid-summary,
        .region-summary,
        .DFID-summary {
            position: relative;
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            .header {
                display: flex;
                align-items: center;
                padding: calc(var(--spacing-medium) - var(--spacing-small));

                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-small);
                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;

                .summary-output {
                    flex-basis: calc(100% / 3);
                }
            }
        }

        .covid-summary {
            .footer {
                display: flex;
                justify-content: space-between;
            }

        }


        .actions {
            display: flex;
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

            .link {
                margin: var(--spacing-small);
                border: var(--width-separator-thin) solid var(--color-separator-light);
                border-radius: var(--radius-input);
                background-color: var(--color-button-background);
                padding: var(--spacing-small) var(--spacing-medium);
                text-decoration: none;
                color: var(--color-text);
                font-weight: var(--font-weight-bold);

                &:hover {
                    filter: brightness(90%)
                }
            }
        }
    }
}
