.sidepanel {
    position: relative;
    transition: .2s margin-right ease-in-out;
    border-left: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: 0;

    &.hidden {
        margin-right: calc(-1 * var(--width-sidepanel));
    }

    .toggle-visibility-button {
        position: absolute;
        top: var(--spacing-medium);
        left: 0;
        transform: translateX(-100%);
        border: var(--width-separator-thin) solid var(--color-separator);
        border-right: 0;
        border-radius: 0;
        background-color: var(--color-foreground);
        padding: var(--spacing-medium) var(--spacing-extra-small);
        font-size: var(--font-size-large);
    }

    .summary {
        padding: 0;

        .covid-summary,
        .region-summary,
        .DFID-summary {
            padding: calc(var(--spacing-large) - var(--spacing-medium));

            .header {
                display: flex;
                align-items: center;
                padding: calc(var(--spacing-medium) - var(--spacing-small));

                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-small);
                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;

                .summary-output {
                    flex-basis: calc(100% / 3);
                }
            }

            .footer {
                display: flex;
                justify-content: space-between;
            }

            .links {
                display: flex;

                .link {
                    margin: var(--spacing-small);
                    text-transform: capitalize;
                    text-decoration: none;
                    color: var(--color-primary);
                    font-size: var(--font-size-extra-small);
                    font-weight: var(--font-weight-bold);
                }
            }
        }
    }
}

.stats {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: var(--color-foreground);
    width: 100%;
    height: 100%;
    overflow: auto;
}
