.dashboard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-alt);

    .map-container {
        flex-grow: 1;
        border: 1px solid red;
    }

    .buttons {
        flex-shrink: 0;
        .button {
            margin: var(--spacing-small);
        }
    }
}
