.dashboard {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-background-alt);

    .separator {
        margin: var(--spacing-large) 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        width: 100%;
    }

    .backdrop {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11111;
        background-color: rgba(255, 255, 255, .7);
    }

    .map-container {
        flex-grow: 1;
        font-family: inherit;
    }

    .map-style-config-container {
        position: absolute;
        bottom: 10px;
        left: 10px;
        border: 1px solid rgba(0, 0, 0, .1);
        background-color: #fff;
        padding: var(--spacing-medium);
        width: 400px;

        .heading {
            padding: var(--spacing-medium);
            color: var(--color-accent);
        }

        .indicator-select-input {
            margin: var(--spacing-medium) 0;
        }
        .five-w-segment-input {
            margin: var(--spacing-medium) 0;
        }
    }

    .legend-container {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: calc(400px + 2 * var(--spacing-medium));
        align-items: flex-end;
        max-width: 512px;
        max-height: 400px;

        .legend {
            margin: 0 var(--spacing-small);
            border: 1px solid rgba(0, 0, 0, .1);
            background-color: #fff;
            padding: var(--spacing-medium);
        }
    }
}
