.tooltip {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;

    .heading {
        flex-shrink: 0;
        padding: var(--spacing-small);
    }

    .scroll-wrapper {
        flex-grow: 1;
        overflow: auto;

        .content {
            display: table;
        }
    }
}
