.input-label {
    display: flex;
    overflow: auto;
    color: var(--color-text-label);
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-bold);

    .left {
        flex-grow: 1;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .right {
        flex-shrink: 0;
    }
}
.input-label .empty {
    .left {
        visibility: hidden;
    }
}

.input-label .active {
    .left {
        color: var(--color-accent);
    }
}

.input-label .error {
    .left {
        color: var(--color-danger);
    }
}

.input-label .disabled {
    .left {
        color: var(--color-text-disabled);
    }
}
