.label {
    padding: var(--spacing-small) var(--spacing-medium);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--color-primary-light-2);
    font-size: var(--font-size-subtitle-2);
}
