.container {
    --bold: var(--font-weight-bold);

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: var(--spacing-medium);

    .first-section {
        padding: calc(6 * var(--spacing-medium)) var(--spacing-medium);
        width: 60%;

        .title {
            margin-bottom: calc(3 * var(--spacing-medium));
            text-align: center;
            font-size: calc(var(--font-size-extra-large) + var(--font-size-large));
            font-weight: var(--bold);
        }
    
        .sub-title {
            text-align: center;
            font-size: var(--font-size-large);
        }
    }

    .stats {
        display: flex;
        justify-content: space-around;
        background: var(--color-background);
        padding: calc(3 * var(--spacing-medium)) calc(10 * var(--spacing-medium));
        width: 100%;
    }

    .details {
        padding: calc(10 * var(--spacing-medium));
        font-size: var(--font-size-large);
    }

    .manual-link {
        display: flex;
        align-items: center;
        margin-bottom: calc(2 * var(--spacing-extra-large));
        width: fit-content;
        border: var(--width-separator-thin) solid var(--color-secondary);
        background-color: transparent;
        padding: var(--spacing-medium);
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-medium);

        &:hover {
            filter: brightness(90%)
        }

        .manual-icon {
            margin-right: var(--spacing-medium);
        }
    }

    .contact {
        display: flex;
        background: var(--color-background);
        padding: calc(3 * var(--spacing-medium)) calc(20 * var(--spacing-medium));
        width: 100%;

        .left {
            flex: 1;
            font-size: var(--font-size-super-large);
            font-weight: var(--bold);
        }

        .right {
            align-items: center;
            flex: 1;

            .contact-details {
                font-size: var(--font-size-large);

                .name {
                    margin-bottom: var(--spacing-medium);
                    color: var(--color-primary);
                    font-size: var(--font-size-extra-large);
                    font-weight: var(--bold);
                }

                .address {
                    white-space: pre-wrap;
                }

                .contact-item {
                    display: flex;
                    align-items: center;
                    padding: var(--spacing-extra-small) 0px;
        
                    .contact-title {
                        margin-right: var(--spacing-medium);
                        font-size: var(--font-size-medium);
                        font-weight: var(--bold);
                    }
                }
            }
        }
    }
}
