.explore-data {
    .actions {
        visibility: hidden;
    }

    .title {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        padding: var(--spacing-small-medium) 0;
        color: #e32237;
        font-size: var(--font-size-large-medium);
        font-weight: var(--font-weight-bold);
    }

    &:hover {
        cursor: default;

        .actions {
            display: flex;
            flex-direction: column;
            visibility: visible;
            background: var(--color-foreground);
            padding: var(--spacing-small) 0;
            width: calc(7 * var(--spacing-extra-large));
    
            .link {
                padding: var(--spacing-small) var(--spacing-medium);
                text-decoration: none;
                color: var(--color-text);
                font-size: var(--font-size-medium);
    
                &:hover {
                    background-color: var(--color-separator-light);
                }
            }
        }
    }
}