.explore-data-button {
    cursor: pointer;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--spacing-small) var(--spacing-medium);
    color: var(--color-highlight);
    font-size: var(--font-size-large-medium);
    font-weight: var(--font-weight-bold);
}

.explore-data-container {
    .actions {
        display: flex;
        flex-direction: column;
        visibility: visible;
        background: var(--color-foreground);
        padding: var(--spacing-small) 0;

        .link {
            padding: var(--spacing-small) var(--spacing-medium);
            text-decoration: none;
            color: var(--color-text);
            font-size: var(--font-size-medium);

            &:hover {
                background-color: var(--color-separator-light);
            }

            &.disabled {
                pointer-events: none;
                opacity: 0.3;
            }
        }
    }
}

