.popup-page {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-medium));
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .back-button {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 0 var(--spacing-small);
            font-size: var(--font-size-large);
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
        }

        .actions {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
    }
}
