.heading {
    padding: var(--spacing-extra-small) 0;
}

.choropleth-legend {
    display: flex;
    position: relative;
    flex-direction: column;

    .legend-element {
        display: flex;
        flex-grow: 1;

        .color {
            width: var(--font-size-medium);
            height: var(--font-size-extra-large);
        }

        .value {
            align-self: flex-end;
            margin-bottom: calc(-1 * var(--font-size-medium) / 2);
            padding-left: var(--spacing-small);
            color: var(--color-text-label);
        }
    }
}

