.heading {
    padding: var(--spacing-extra-small) 0;
}

.choropleth-legend {
    display: flex;
    position: relative;

    .min {
        position: absolute;
        bottom: 0;
        left: calc(-1 * var(--spacing-small));
        font-size: var(--font-size-extra-small);
    }

    .legend-element {
        flex-grow: 1;

        .color {
            height: var(--font-size-extra-small);
        }

        .value {
            margin-right: calc(-1 * var(--spacing-small));
            padding-top: var(--spacing-small);
            text-align: right;
            color: var(--color-text-label);
            font-size: var(--font-size-extra-small);
        }
    }
}

