.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

    .icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        color: var(--color-input-actions);
        font-size: 1.4em;
    }

    .label {
        flex-grow: 1;
        padding: 0 var(--spacing-small);
    }

    &.checked,
    &.indeterminate {
        .icon {
            color: var(--color-accent);
        }
    }

    &.disabled {
        .icon {
            color: var(--color-text-disabled);
        }

        .label {
            color: var(--color-text-disabled);
        }
    }
}
