.table-actions {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: var(--spacing-small) var(--spacing-medium);

    .info {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;

        >* {
            &:not(:last-child) {
                margin-right: var(--spacing-medium);
            }
        }

        .text {
            display: flex;
            align-items: baseline;
            padding: var(--spacing-small);

            .numeral {
                margin: 0 var(--spacing-small);
            }
        }
    }

    .legend {
        display: flex;
        flex-shrink: 0;

        >:not(:first-child) {
            margin-left: var(--spacing-medium);
        }
    }
}

.sankey {
    position: relative;
    flex-grow: 1;
    margin: var(--spacing-small) var(--spacing-medium);

    .backdrop {
        z-index: 1;
    }
}
