.table-actions {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

    .info-bar {
        display: flex;
        align-items: center;
        flex-grow: 1;

        .region-selector {
            margin: var(--spacing-small) var(--spacing-medium);
        }

        .info {
            display: flex;
            align-items: center;
            padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));
            
            .label {
                padding: 0 var(--spacing-small);
            }

            .numeral {
                margin: 0 var(--spacing-small);
            }
        }
    }

    .legend {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
}

.sankey {
    position: relative;
    flex-grow: 1;
    margin: var(--spacing-small) 0;

    .backdrop {
        z-index: 1;
    }
}
