.modal {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-modal);
    background-color: var(--color-foreground);
    width: 640px;
    height: 640px;

    .modal-header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-medium);

        .title-container {
            flex-grow: 1;
        }

        .close-button {
            flex-shrink: 0;
        }
    }

    .modal-body {
        flex-grow: 1;
        padding: var(--spacing-extra-small) var(--spacing-medium);
    }

    .modal-footer {
        flex-shrink: 0;
        padding: var(--spacing-extra-small) var(--spacing-medium);
    }
}
