.dropdown-menu {
    padding: var(--spacing-small);

    &.dropdown-shown {
        background-color: var(--color-secondary-light-2);
    }
}

.dropdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 5px 0 var(--color-shadow);
    background-color: var(--color-foreground);
    max-width: 90vw;
    max-height: 50vh;
    overflow: auto;
}
