.program-selector {
    display: flex;
    /* FIXME: don't use hard-coded color values */
    background-color: rgba(255, 255, 255, .1);

    .indicator-select-input {
        padding: 0;
        width: 420px;
        color: var(--color-text);
    }

    .sector-input,
    .marker-input {
        padding: 0 var(--spacing-medium);

        &:disabled {
            opacity: 0.5;
        }
    }
}

.program-select-dropdown,
.sectors-dropdown,
.markers-dropdown {
    z-index: 111;
}

