.program-selector {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;

    .program,
    .partner,
    .sector,
    .marker {
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
        max-height: 240px;
        overflow-y: auto;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: var(--width-separator-thin) solid var(--color-separator-light);
        padding: var(--spacing-medium);
    }
}

