.header-cell {
    display: flex;
    flex-direction: column;
    border-right: var(--width-separator-medium) solid transparent;
    border-left: var(--width-separator-medium) solid transparent;

    &.dragging {
        opacity: 0.5;
    }

    &.dropping {
        border-left: var(--width-separator-medium) solid var(--color-accent);
    }
    &.dropping-behind {
        border-right: var(--width-separator-medium) solid var(--color-accent);
    }

    .title-container {
        display: flex;
        padding: var(--spacing-extra-small);

        .title {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            text-align: left;
        }

        .hide-button {
            flex-shrink: 0;
            visibility: hidden;
        }

        .grip {
            flex-shrink: 0;
            visibility: hidden;
            margin-left: var(--spacing-small);
            cursor: move;
        }
    }

    &:hover {
        .title-container {
            .hide-button {
                visibility: visible;
            }
            .grip {
                visibility: visible;
            }
        }
    }

    .filter-container {
        display: flex;
        padding: var(--spacing-extra-small);

        >:not(:last-child) {
            margin-right: var(--spacing-small);
        }

        .text-input,
        .number-input {
            .icon {
                color: var(--color-text-label);
                font-size: var(--font-size-extra-small);
            }

            .raw-input-container {
                background-color: var(--color-foreground);
            }
        }

        .number-input {
            .raw-input-container {
                .raw-input {
                    width: 108px;
                }
            }
        }

    }
}
