.navbar {
    display: flex;
    align-items: center;
    background-color: var(--color-backdrop-light);
    padding: 0 calc(var(--spacing-large) - var(--spacing-medium));
    color: var(--color-text-on-primary);

    .app-brand {
        flex-shrink: 0;

        .logo {
            margin-left: var(--spacing-large);
            height: 77px;
        }
    }

    .actions {
        flex-grow: 1;

        .nav-links {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            justify-content: flex-end;
            padding: 0 calc(var(--spacing-extra-large) - var(--spacing-large));
            font-size: var(--font-size-small);

            .link {
                display: block;
                outline: none;
                padding: var(--spacing-small) var(--spacing-large);
                text-decoration: none;
                color: var(--color-text);
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-bold);

                &.active {
                    color: var(--color-primary);
                }
            }
        }

        .filters {
            display: flex;
        }
    }

    .user-actions {
        border-left: var(--width-separator-thin) solid var(--color-separator-light);
        padding: calc(var(--spacing-extra-large) - var(--spacing-medium));

        >* {
            margin: 0 var(--spacing-medium);
        }
    }

    .admin-console-link {
        display: flex;
        align-items: center;
        margin: 0 var(--spacing-small);
        border: var(--width-separator-thin) solid var(--color-separator-light);
        border-radius: var(--radius-input);
        background-color: var(--color-button-background);
        padding: var(--spacing-small) var(--spacing-medium);
        text-decoration: none;
        color: var(--color-text);
        font-weight: var(--font-weight-bold);

        &:hover {
            filter: brightness(90%)
        }

        .admin-icon {
            margin-right: var(--spacing-small);
        }
    }
}

@media print {
    .navbar {
        display: none;
    }
}
