.external-link {
    display: flex;
    align-items: center;
    padding: calc(var(--spacing-medium) - var(--spacing-small));
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-bold);

    .icon {
        margin: var(--spacing-extra-small) var(--spacing-super-small);
    }

    .label {
        padding: var(--spacing-extra-small) var(--spacing-small);
        text-transform: capitalize;
    }
}

