.about-tabs {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-foreground);
    padding-top: var(--spacing-extra-large);
}