.about-tabs {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-foreground);
    padding-top: var(--spacing-extra-large);

    .tab-list {
        display: flex;
        margin: auto;
        width: 100%;
        max-width: 500px;
    }

    .about {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
    }

    .faq {
        flex-grow: 1;
        width: 100%;
    }

    .terms-and-conditions {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
        width: 100%;
    }

    .feedback {
        flex-grow: 1;
        margin-bottom: var(--spacing-medium);
        padding: var(--spacing-medium);
    }

    .footer {
        padding: calc(2 * var(--spacing-large));
    }
}
