.covid19 {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-background-alt);

    .backdrop {
        z-index: 11111;
    }

    .map-container {
        flex-grow: 1;
        font-family: inherit;
    }

    .map-style-config-container {
        position: absolute;
        bottom: var(--spacing-medium);
        left: var(--spacing-medium);
        border: 1px solid rgba(0, 0, 0, .1);
        background-color: #fff;
        padding: var(--spacing-medium);
        width: 400px;

        .separator {
            margin: var(--spacing-small) 0;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            width: 100%;
        }

        .input-item {
            margin: var(--spacing-medium) 0;
        }

        .layer-by-selection {
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));
        }

        .hospitals {
            display: flex;
            flex-wrap: wrap;
            padding: var(--spacing-extra-small) var(--spacing-small);

            .button {
                margin: var(--spacing-extra-small);
                padding: var(--spacing-extra-small);
                font-size: var(--font-size-small);
            }
        }

        .age-group-select-input {
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));
        }

        .indicator-input {
            margin-bottom: 0;
        }

        .abstract {
            padding: var(--spacing-medium) 0;
            font-size: var(--font-size-small);
        }
    }

    .legend-container {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: calc(400px + 2 * var(--spacing-medium));
        align-items: flex-end;
        max-width: 512px;
        max-height: 400px;

        .legend {
            margin: 0 var(--spacing-small);
            border: 1px solid rgba(0, 0, 0, .1);
            background-color: #fff;
            padding: var(--spacing-medium);
        }
    }

    .stats {
        position: absolute;
        top: var(--spacing-medium);
        right: var(--spacing-medium);
        border: 1px solid rgba(0, 0, 0, .1);
        background-color: #fff;
        padding: var(--spacing-medium);
        width: 300px;
    }
}
