.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: var(--spacing-medium);
    border-bottom: var(--width-separator-medium) solid transparent;
    background-color: var(--color-foreground);
    cursor: pointer;
    padding: var(--spacing-extra-large-alt)
        var(--spacing-medium-alt)
        var(--spacing-large-alt);
    text-decoration: none;
    color: var(--color-text-label);

    .menu-title {
        text-align: center;
        text-transform: uppercase;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-bold);
    }

    &:hover {
        color: var(--color-text);
    }

    &.active {
        color: var(--color-primary);
    }

    &.disabled {
        color: var(--color-text-disabled);
    }
}
