.sidebar {
    background-color: var(--color-foreground-alt);
    padding-top: var(--spacing-super-large-alt);
    padding-right: var(--spacing-extra-large);
    padding-left: var(--spacing-extra-large);
    height: 100vh;
}
