.text-input{
    .clear-button {
        padding: 0;
        font-size: var(--font-size-medium);
    }

    &:hover {
        .clear-button {
            color: var(--color-danger);
        }
    }
}

.dropdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    border: var(--width-separator-thin) solid var(--color-separator);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    background-color: var(--color-foreground);
    max-width: 90vw;
    max-height: 60vh;
    overflow: auto;

    .message {
        padding: var(--spacing-medium);
        color: var(--color-text-disabled);
    }

    .group {
        display: block;
        padding: var(--spacing-small) var(--spacing-medium);
        width: 100%;
        text-align: left;

        color: var(--color-accent);
    }

    .option {
        display: block;
        padding: var(--spacing-small) var(--spacing-medium);
        width: 100%;
        text-align: left;

        &.selected {
            background-color: var(--color-background-accent-hint);
        }

        &:not(.selected) {
            &:hover {
                background-color: var(--color-background-hover);
            }
        }
    }
}
