.text-input{
    .clear-button {
        padding: 0;
        font-size: var(--font-size-medium);
    }
}

.dropdown-container {
    padding-right: 0;
    padding-left: 0;

    .message {
        padding: var(--spacing-medium);
        color: var(--color-text-disabled);
    }

    .group {
        display: block;
        padding: var(--spacing-medium);
        width: 100%;
        text-align: left;
        color: var(--color-primary);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);

        &:not(:first-child) {
            margin-top: var(--spacing-medium);
            border-top: var(--width-separator-thin) solid var(--color-separator-light);
        }
    }

    .option {
        display: block;
        cursor: pointer;
        padding: var(--spacing-medium) var(--spacing-large-medium);
        width: 100%;
        text-align: left;
        color: var(--color-text-label);

        &.selected {
            display: flex;
            justify-content: space-between;
            color: var(--color-accent);
            font-weight: var(--font-weight-bold);

            svg {
                flex-shrink: 0;
                margin-left: var(--spacing-small);

                polyline {
                    stroke: var(--color-accent);
                    stroke-width: 4px;
                }
            }
        }

        &:hover {
            background-color: var(--color-foreground-dark);
        }
    }
}
