.table {
    position: relative;
    border: 0;
    border-collapse: collapse;
    font-size: var(--font-size-medium);

    .header-row {
        .header-cell {
            position: sticky;
            top: 0;
            z-index: 2;
            border: 0;
            background-color: var(--color-background);
            padding: var(--spacing-medium);

            &.stick-left {
                left: 0;
                z-index: 3;
            }
        }
    }

    .row {
        .header-cell {
            position: sticky;
            left: 0;
            z-index: 1;
            border: 0;
            background-color: var(--color-background);
            padding: var(--spacing-medium);
        }

        .cell {
            border: 0;
            padding: var(--spacing-medium);
        }
    }
}
