.table {
    position: relative;
    background-color: var(--color-background);
    overflow: auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: var(--font-size-medium);

    .header-row {
        .header-cell {
            position: sticky;
            top: 0;
            z-index: 2 !important;
            border: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-background);

            &:not(:first-child) {
                border-left: 0px;
            }

            &.stick-left {
                left: 0;
                z-index: 3 !important;
            }

            .header-component {
                padding: var(--spacing-small);
            }
        }
    }

    .row {
        .row-header-cell {
            position: sticky;
            left: 0;
            z-index: 1 !important;
            border: var(--width-separator-thin) solid var(--color-separator);
            border-top: 0px;
            background-color: var(--color-foreground);
            text-align: left;

            &:not(:first-child) {
                border-left: 0px;
            }

            .cell-component {
                padding: var(--spacing-small);
            }
        }

        .cell {
            border: var(--width-separator-thin) solid var(--color-separator);
            border-top: 0px;
            background-color: var(--color-foreground);

            &:not(:first-child) {
                border-left: 0px;
            }

            .cell-component {
                padding: var(--spacing-small);
            }
        }
    }
}
