.table-actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: var(--spacing-small-medium) 0 0 0;

    .download-button {
        margin: 0 var(--spacing-mega-large);
        border: var(--width-separator-medium) solid var(--color-secondary-light-1);
        border-radius: 0;
        height: 100%;
    }

    .indicator-select {
        width: 300px;
    }
}

.table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--spacing-medium);
    overflow: auto;

    .backdrop {
        z-index: 1;
    }

    .overflow-container {
        flex-grow: 1;
        z-index: 0;
        overflow: auto;

        .table {
            min-width: 100%;
        }
    }
}
