.print-container {
    display: flex;
    align-items: center;

    .print {
        margin-right: var(--spacing-small);
    }

    .print-preview {
        border: var(--width-separator-thin) solid var(--color-separator);
        font-weight: var(--font-weight-bold);
    }

    button {
        border: var(--width-separator-thin) solid var(--color-separator);
        font-weight: var(--font-weight-bold);
    }
}

@media print {
    .print-container {
        display: none;
    }
}
