.print-container {
    display: flex;
    align-items: center;

    .print {
        margin-right: var(--spacing-small);
    }

    .print-preview {
        padding: var(--spacing-small);
    }
}

@media print {
    .print-container {
        display: none;
    }
}
