.selector-item {
    display: flex;
    flex-direction: column;
    overflow: auto;

    &.minimized {
        position: relative;
        padding: calc(var(--spacing-large) - var(--spacing-small)) calc(var(--spacing-medium) - var(--spacing-small));

        .minimized-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--spacing-small);
            color: var(--color-primary);
            font-size: var(--font-size-extra-large);
        }

        .minimized-name {
            padding: var(--spacing-small);
            text-align: center;
            text-transform: uppercase;
            font-size: var(--font-size-extra-small);
        }

        .minimized-value-count {
            position: absolute;
            top: var(--spacing-medium);
            right: var(--spacing-medium);
            border-radius: 50%;
            background-color: var(--color-highlight-light);
            padding: var(--spacing-super-small) var(--spacing-small);
            text-align: center;
            color: var(--color-highlight);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);
        }
    }

    .heading {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--color-grey-shade-1);
        padding: var(--spacing-medium) var(--spacing-medium);
    
        .collapse-icon {
            margin: var(--spacing-small);
            cursor: pointer;
            font-size: var(--font-size-large);
        }
    
        .icon {
            display: flex;
            align-items: center;
            margin: var(--spacing-small);
            color: var(--color-primary);
            font-size: var(--font-size-large);
        }

        .name {
            padding: var(--spacing-small);
            text-transform: uppercase;
            letter-spacing: 0.14rem;
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-bold);
        }

        .right-section {
            display: flex;
            align-items: center;
            width: 20%;

            .value-count {
                border-radius: calc(3 * var(--radius-button));
                background-color: var(--color-highlight-light);
                padding: var(--spacing-super-small);
                width: 50%;
                height: 24px;
                text-align: center;
                color: var(--color-highlight);
                font-size: var(--font-size-large-medium);
                font-weight: var(--font-weight-bold);
            }

            .clear-value {
                width: 60%;
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-bold);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-grey-shade-4);
        overflow: auto;

        .search-input {
            flex-shrink: 0;
            padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

            .search-icon {
                display: flex;
                align-items: center;
                font-size: var(--font-size-large);
            }
        }

        .tree-input {
            flex-grow: 1;
            overflow: auto;
        }
    }

    .centered {
        justify-content: center;
    }
}

