
.tree-node {
    display: flex;
    padding: var(--spacing-extra-small);

    >.left {
        display: flex;
        flex-direction: column;
        margin-top: var(--spacing-extra-small);

        .expand-button {
            flex-shrink: 0;
            outline: none;
            cursor: pointer;
            padding: var(--spacing-extra-small);

            &:disabled {
                visibility: hidden;
            }
        }

        .stem {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            cursor: pointer;

            .line {
                border-right: var(--width-separator-thin) dashed var(--color-separator);
            }

            &:hover {
                background-color: var(--color-foreground-dark);

                .line {
                    border-right: var(--width-separator-thin) dashed var(--color-accent);
                }
            }
        }
    }

    .right {
        flex-grow: 1;

        .checkbox {
            padding: var(--spacing-extra-small);
            width: 100%;
            text-align: left;

            &:hover {
                background-color: var(--color-foreground-dark);
            }
        }
    }

    &.collapsed {
        .right {
            .node-list {
                display: none;
            }
        }
    }

    &:not(.collapsed) {
        >.left {
            .expand-button {
                transform: rotate(90deg);
            }
        }
    }
}

.clear-button {
    align-self: center;
}
