.segment-input {
    display: flex;
    align-items: center;
    flex-direction: row;

    .input-container {
        display: flex;
        align-self: flex-start;
        border: var(--width-separator-thin) solid var(--color-separator);
        border-radius: 1em;
        background: var(--color-grey-shade-3);
        width: 100%;
    }
}
