.segment-input {
    display: flex;
    align-items: baseline;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    .input-label {
        opacity: .6;
        padding: var(--spacing-small);
        font-size: var(--font-size-small);
    }

    .input-container {
        display: flex;
    }
}
