.segment-input {
    display: flex;
    align-items: center;

    .input-container {
        display: flex;
        border: var(--width-separator-medium) solid var(--color-separator-dark);
        border-radius: calc(1em + 2 * var(--spacing-small));
        background: var(--color-grey-shade-3);
        width: 100%;
    }
}
